@import "_vars";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Signika:wght@400;700&display=swap');

body {
    background: $surface;
    font-family: 'Signika', Helvetica, sans-serif;
}

.main {
    background: url('../images/header_bg.webp') no-repeat top left;
    padding: $padding-colum;

    nav {
        display: flex;
        padding-bottom: 12px;
        ;

        a {
            color: white;
            font-size: 20px;
            padding: 45px 60px 45px 45px;
            min-width: 180px;

            &:hover {
                color: $h-text;
                background: url('../images/hover_bg.webp') no-repeat;
                transition: 0.5s;
            }
        }
    }

    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: $roboto;
        padding: 260px 0 300px;

        .name {
            font-size: 52px;
            font-weight: 700;
            color: $primary-color;
            -webkit-text-stroke: 1px white;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: white;
            width: 100%;
        }

        .social {
            display: flex;
            gap: 12px;

            img {
                &:hover {
                    filter: invert(1);
                    transition: 1s;
                }
            }
        }
    }

    .scroll {
        color: $gray;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 32px;

        &__about {
            padding-top: 20px;
        }
    }

    #about {
        background: url('../images/BG.png') no-repeat left top;
        padding: 35px 0 0 50px;
        display: flex;
        gap: 50px;

        .pic {
            display: flex;
        }

        .about__text {
            @include text_box;

            h2 {
                @include h2
            }

            p {
                font-size: 24px;
            }

            a {
                @include button
            }
        }
    }

}

#skills {
    padding: 35px 50px 50px;
    display: flex;
    gap: 50px;
    background: $primary-color url('../images/skills_bg.webp') no-repeat center right;
    background-size: contain;

    .skills__text {
        @include text_box;

        h2 {
            @include h2
        }

        p {
            font-size: 24px;
            color: white;
        }

        .skill__items {
            display: flex;
            gap: 70px;
            flex-wrap: wrap;
            width: 100%;


            &__circle {
                &__name {
                    text-align: center;
                    margin: 8px 0 12px;
                }

                /* Set the sizes of the elements that make up the progress bar */
                div[role="progressbar"] {
                    --size: 100px;
                    --pgPercentage: var(--value);
                    animation: growProgressBar 3s 1 forwards;
                    width: var(--size);
                    height: var(--size);
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    background:
                        radial-gradient(closest-side, $blue 80%, transparent 0 99.9%, $primary-color 0),
                        conic-gradient(white calc(var(--pgPercentage) * 1%), $blue 0);
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: calc(var(--size) / 5);
                    color: white;
                }

                div[role="progressbar"]::before {
                    counter-reset: percentage var(--value);
                    content: counter(percentage) '%';

                }
            }
        }
    }

    .skill__pic {
        background: url('../images/BG.png') no-repeat top right;
        padding: 30px 50px 0;
    }


}

#works {
    margin-left: -104px;
    padding: 35px 0 0 100px;
    display: flex;
    background: url('../images/work_bg.png') no-repeat left center;


    /*
    PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
    http://stackoverflow.com/a/34696029/383904
    */
    .CSSgal {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        /* Or set a fixed height */


        /* SLIDER */

        .slider {
            height: 100%;
            white-space: nowrap;
            font-size: 0;
            transition: 0.8s;
            position: relative;
            min-height: 400px;

            &>* {
                display: inline-block;
                white-space: normal;
                vertical-align: top;
                height: 100%;
                width: 100%;
                background: none 50% no-repeat;
                background-size: cover;
                position: relative;
            }

            .prevNext {
                position: absolute;
                z-index: 1;
                top: 50%;
                width: 100%;
                

                div {
                    a {
                        background: #fff;
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        /* If you want to place numbers */
                        text-align: center;
                        opacity: 0.7;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        left: 0;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    & a+a {
                        left: auto;
                        right: 0;
                    }
                }
            }

            .prevNext>div+div {
                visibility: hidden;
                /* Hide all but first P/N container */
            }


        }

        /* PREV/NEXT, CONTAINERS & ANCHORS */



        /* NAVIGATION */

        .bullets {
            position: absolute;
            z-index: 2;
            bottom: 0;
            padding: 10px 0;
            width: 100%;
            text-align: center;
        }

        .bullets>a {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-decoration: none;
            text-align: center;
            background: rgba(255, 255, 255, 1);
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

        .bullets>a+a {
            background: rgba(255, 255, 255, 0.5);
            /* Dim all but first */
        }

        .bullets>a:hover {
            background: rgba(255, 255, 255, 0.7) !important;
        }

        /* NAVIGATION BUTTONS */
        /* ALL: */
        >s:target~.bullets>* {
            background: rgba(255, 255, 255, 0.5);
        }

        /* ACTIVE */
        #s1:target~.bullets>*:nth-child(1) {
            background: rgba(255, 255, 255, 1);
        }

        #s2:target~.bullets>*:nth-child(2) {
            background: rgba(255, 255, 255, 1);
        }

        #s3:target~.bullets>*:nth-child(3) {
            background: rgba(255, 255, 255, 1);
        }

        #s4:target~.bullets>*:nth-child(4) {
            background: rgba(255, 255, 255, 1);
        }

        /* More slides? Add here more rules */

        /* PREV/NEXT CONTAINERS VISIBILITY */
        /* ALL: */
        >s:target~.prevNext>* {
            visibility: hidden;
        }

        /* ACTIVE: */
        #s1:target~.prevNext>*:nth-child(1) {
            visibility: visible;
        }

        #s2:target~.prevNext>*:nth-child(2) {
            visibility: visible;
        }

        #s3:target~.prevNext>*:nth-child(3) {
            visibility: visible;
        }

        #s4:target~.prevNext>*:nth-child(4) {
            visibility: visible;
        }

        /* More slides? Add here more rules */

        /* SLIDER ANIMATION POSITIONS */

        #s1:target~.slider {
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
        }

        #s2:target~.slider {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }

        #s3:target~.slider {
            transform: translateX(-200%);
            -webkit-transform: translateX(-200%);
        }

        #s4:target~.slider {
            transform: translateX(-300%);
            -webkit-transform: translateX(-300%);
        }

        /* More slides? Add here more rules */
    }

    /* YOU'RE THE DESIGNER! 
       ____________________
       All above was mainly to get it working :)
       CSSgal CUSTOM STYLES / OVERRIDES HERE: */

    .CSSgal {


        .slider h2 {
            @include h2
        }


    }
}